/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image:var(--background-image) url(../images/cover-image-dark.png);
  --background-color:var(var(--background-color, #000028));
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --border-color: #ff0070;
  --hoover-color: rgba(225,0,112,0.40);
  --h2-title-color: #ff0070;
  --h3-title-color: #000028;

  
  
}